.navbar{
	background-color: #3E474F;
}

.toolbar{
	background-color: #16a085;
}

.labelLink{
	margin-right:1%;
}

.brand-link{
	color:#fff;
}

.brand-link:hover{
	color:#16a085;
}

.right{
	margin-right:0.6%;
}

.avatar{
	vertical-align:middle;
	border:1px solid #E7E7E7;
	height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

input, textarea, select{
	background-color: #ecf0f1 !important;
}

.error{
	border-bottom:1px solid red !important;
}

.error-label{
	color:red !important;
}

.modalLink{
	color:#167f6a;
	cursor:pointer;
}

.modalLink:hover{
	color:#16a085;
}

.costLabel{
	color:#167f6a;
}

.is-invisible {
	opacity: 0;
}

.deleteLabel{
	color:#D91E18;
}

.modal-buttons-3 span:nth-child(1){
	background-color: #D91E18;
	border:1px solid #D91E18;
	color:#fff;
}

.modal-buttons-3 span:nth-child(2){
	background-color: #446CB3;
	border:1px solid #446CB3;
	color:#fff;
}

.modal-buttons-3 span:nth-child(3){
	background-color: #333333;
	border:1px solid #333333;
	color:#fff;
}

.row-bottom{
	margin-bottom:5%;
}
.row-top{
	margin-top:1%;
	margin-bottom:1%;
}