<!DOCTYPE html>
<html>

    <head>
        <!-- Meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        
        <!-- App title-->
        <title>Follow Your Money</title>

        <!--  Framework7 iOS theme styles-->
        <link rel="stylesheet" href="css/framework7.material.min.css">
        <link rel="stylesheet" href="css/framework7.material.colors.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- App styles-->
        <link rel="stylesheet" href="css/app.css">
        <!-- Manifest -->
        <link rel="manifest" href="/manifest.json">
    
        <!-- Gmail Auth -->
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="445913378547-81eptei3akg63l5aumms2f82s78j5hbj.apps.googleusercontent.com">

    </head>

    <body ng-app="app">

        <!-- Views -->
        <div class="views">

            <!-- main view -->
            <div class="view view-main">

                <!-- Top Navbar-->
                <div class="navbar" ng-controller="NavCtrl as nav">
                    <div class="navbar-inner">
                        <div class="center sliding">
                            <a href="#" class='brand-link'>Follow Your Money</a>
                        </div>
                        <div class="right">
                            <div ng-if="user == undefined">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <div ng-if="user !== undefined && user.avatar.length > 0" class='avatarBlock'>
                                 <img ng-src="{{user.avatar}}" class='avatar'>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Page content -->
                <div class="pages navbar-through toolbar-through">
                    <div data-page="index" class="page">
                        <div class="page-content"  ui-view></div>
                    </div>
                </div>

                <!-- Bottom Toolbar-->
                <div class="toolbar">
                    <div class="toolbar-inner">
                        <!-- Toolbar links -->
                        <a href="#/list" class="link"><i class="material-icons">list</i> <span class='labelLink'>List</span></a>
                        <a href="#/new" class="link"><span class='labelLink'>New</span> <i class="material-icons">add_circle</i></a>
                        <!--<p>-->
                            <!--<button disabled class="js-push-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect">-->
                                <!--Enable Push Messaging-->
                            <!--</button>-->
                        <!--</p>-->
                        <!--<section class="subscription-details js-subscription-details is-invisible">-->
                            <!--<p>test</p>-->
                            <!--<pre><code class="js-subscription-json"></code></pre>-->
                        <!--</section>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- SCRIPTS JS -->

        <!-- jQuery -->
        <script type="text/javascript" src="js/librairies/jquery.min.js"></script>
        <!-- Angular JS -->
        <script type="text/javascript" src="js/librairies/angular.min.js"></script>
        <!-- Angular Ui-router -->
        <script type="text/javascript" src="js/librairies/angular-ui-router.min.js"></script>
        <!-- Framework7 Library JS -->
        <script type="text/javascript" src="js/librairies/framework7.min.js"></script>
        <!-- upup.js -->
        <script type="text/javascript" src="upup.sw.js"></script>
        <!-- upup.js -->
        <script type="text/javascript" src="upup.js"></script>          

        <!-- Controllers -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers/nav.controller.js"></script>
        <script type="text/javascript" src="js/controllers/auth.controller.js"></script>
        <script type="text/javascript" src="js/controllers/home.controller.js"></script>
        <script type="text/javascript" src="js/controllers/form.controller.js"></script>
        
        <!-- Services / Factories -->
        <script type="text/javascript" src="js/factories/LocationFactory.js"></script>
        <script type="text/javascript" src="js/factories/LocalStorageFactory.js"></script>
        <script type="text/javascript" src="js/factories/UserFactory.js"></script>
        <script type="text/javascript" src="js/services/CategoriesService.js"></script>
        <script type="text/javascript" src="js/factories/NotificationFactory.js"></script>
        <script type="text/javascript" src="notification.js"></script>


        <script>
            UpUp.start({
                'content-url': 'index.html',
                'assets': [
                    'js/librairies/jquery.min.js',
                    'js/librairies/angular.min.js',
                    'js/librairies/angular-ui-router.min.js',
                    'js/librairies/framework7.min.js',
                    'css/framework7.material.min.css',
                    'css/framework7.material.colors.min.css',
                    'js/factories/LocalStorageFactory.js',
                    'js/factories/LocationFactory.js',
                    'js/factories/UserFactory.js',
                    'js/app.js',
                    'js/controllers/home.controller.js',
                    'js/controllers/auth.controller.js',
                    'js/controllers/form.controller.js',
                    'js/controllers/nav.controller.js',
                    'views/home.html',
                    'views/auth.html',
                    'views/form.html',
                    'notification.js',
                    'icon.png'
                ]
            });
        </script>
        <script>
//            Service worker avec push notifications
            if ('serviceWorker' in navigator && 'PushManager' in window) {
                console.log('Service Worker and Push is supported');

                navigator.serviceWorker.register('service-worker.js')
                    .then(function(swReg) {
                        console.log('Service Worker is registered', swReg);

                        swRegistration = swReg;
                        //initialiseUI();
                    })
                    .catch(function(error) {
                        console.error('Service Worker Error', error);
                    });
            } else {
                console.warn('Push messaging is not supported');
                pushButton.textContent = 'Push Not Supported';
            }
        </script>

    </body>
</html>