<!-- ********************** AUTH PAGE ************************-->
<div ng-controller="AuthCtrl as auth">
	
	<div class="page">
		<!-- page-content has additional login-screen content -->
		<div class="page-content login-screen-content">
			<div class="login-screen-title">Follow Your Money Authentification</div>
			
			<div class="row">
				<div class="col-15"></div>
				<div class="col-70">
					 <p>Please authenticate in order to use the app :</p>
					<a href="#" class="button button-big button-fill color-red ">Connect With Google</a>
				</div>
				<div class="col-15"></div>
			</div>     
		</div>
	</div>

</div>