<!-- ********************** AUTH PAGE ************************-->
<div ng-controller="AuthCtrl as auth">
    
    <script src="https://apis.google.com/js/platform.js" async defer></script>

	<div class="page">

		<div class="page-content login-screen-content">

			<div class="login-screen-title">Follow Your Money Authentification</div>
			
			<div class="row">
				<div class="col-15"></div>
				<div class="col-70">
					<p>Please authenticate in order to use the app :</p>
					<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
				</div>
				<div class="col-15"></div>
			</div>     
		</div>
	</div>

</div>