<!-- ********************** FORM PAGE ************************-->
<div ng-controller="FormCtrl as form">
 

	 <div class="page">
		<div class="page-content">

			<div class="content-block-title">Ajouter une depense</div>
			<div class="list-block inset">
				<ul>

					<li>
						<div class="item-content">
							<!--<div class="item-media">... icon here ...</div>-->

							<div class="item-inner">
								<div class="item-title label">Name</div>
								<div class="item-input">
									<input type="text" name="name">
								</div>
							</div>
						</div>
					</li>
					<li>
						<!--<a href="#" class="item-link smart-select">-->
							<!--&lt;!&ndash; select &ndash;&gt;-->
							<!--<select name="categorie">-->
								<!--<option value="cinema" selected>Cinema</option>-->
								<!--<option value="hotel">Hotel</option>-->
								<!--<option value="theatre">Theatre</option>-->
							<!--</select>-->
							<!--<div class="item-content">-->
								<!--<div class="item-inner">-->
									<!--&lt;!&ndash; Select label &ndash;&gt;-->
									<!--<div class="item-title">Categorie</div>-->
									<!--&lt;!&ndash; Selected value, not required &ndash;&gt;-->
									<!--<div class="item-after">Cinema</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</a>-->

						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Categorie</div>
								<div class="item-input">
									<select name="categorie">
											<option value="1">Cinema</option>
											<option value="1">Course</option>
											<option value="theatre">Theatre</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<!--<div class="item-media"><i class="icon f7-icons">calendar</i></div>-->
							<div class="item-inner">
								<div class="item-title label">Date</div>
								<div class="item-input">
									<input type="date">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Montant</div>
								<div class="item-input">
									<input type="text">
								</div>
							</div>
						</div>
					</li>
					<li class="align-top">
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Commentaire</div>
								<div class="item-input">
									<textarea></textarea>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Ville</div>
								<div class="item-input">
									<input type="text">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Code Postal</div>
								<div class="item-input">
									<input type="text">
								</div>
							</div>
						</div>
					</li>
				</ul>
				<p class="buttons-row">
					<a href="#" class="button button-raised button-fill color-red">Annuler</a>
					<a href="#" class="button button-raised button-fill color-green">Enregister</a>
					<!--<a href="#" class="button button-raised button-fill color-blue">Blue</a>-->
				</p>
			</div>

		</div>
	</div>

</div>
