<!-- ********************** FORM PAGE ************************-->
<div ng-controller="FormCtrl as form">
 

	 <div class="page">
		<div class="page-content">
			<div class="list-block">
				<ul>
					...
					<li>
						<div class="item-content">

							<div class="item-inner">
								<div class="item-title floating-label">Name</div>
								<div class="item-input">
									<input type="text" name="name">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-input">
							<div class="item-inner">
								<div class="item-title floating-label">Categorie</div>
								<div class="item-input">
									<select>
											<option value="1">Cinema</option>
											<option value="1">Course</option>
									</select>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-input">
							<div class="item-inner">
								<div class="item-title floating-label">Date</div>
								<div class="item-input">
									<input type="date">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-input">
							<div class="item-inner">
								<div class="item-title floating-label">Montant</div>
								<div class="item-input">
									<input type="text">
								</div>
							</div>
						</div>
					</li>
					<li class="align-top">
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">Commentaire</div>
								<div class="item-input">
									<textarea></textarea>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-input">
							<div class="item-inner">
								<div class="item-title floating-label">Ville</div>
								<div class="item-input">
									<input type="text">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-input">
							<div class="item-inner">
								<div class="item-title floating-label">Code Postal</div>
								<div class="item-input">
									<input type="text">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
