<!-- ********************** FORM PAGE ************************-->
<div>
	 <div class="page">
		<div class="page-content">

			<div class="content-block-title">New Expense</div>
			<div class="list-block inset">
				<form novalidate ng-submit="form.submit()">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label " id="name_label">Name</div>
									<div class="item-input">
										<input type="text" name="name" id="name" ng-model="form.name" required>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label" id="category_label" >Category</div>
									<div class="item-input">
										<select name="category" ng-model="form.category" id="category" required>
											<option value=""></option>
											<option ng-repeat="cat in form.categories"
										            value="{{cat}}">
										      {{cat}}
										    </option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label" id="date_label">Date</div>
									<div class="item-input">
										<input type="date" ng-model="form.date" ng-init="form.date | date:'MM/dd/yyyy'" id="date" required>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label" id="cost_label">Cost</div>
									<div class="item-input">
										<input type="number" name="cost" ng-model="form.cost" step="0.01" min="0.01" id="cost" required>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label" id="location_label">Location</div>
									<div class="item-input">
										<input type="text" name="location" ng-model="form.location" id="location">
									</div>
								</div>
							</div>
						</li>
						<li class="align-top">
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label" id="comment_label">Comment</div>
									<div class="item-input">
										<textarea name="comment" ng-model="form.comment" id="comment"></textarea>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="buttons-row">
						<button type="submit" ng-submit="" class="button button-raised button-fill color-blue">Save</button>
					</div>			
				</form>
			</div>

		</div>
	</div>
</div>
