<!-- ********************** HOME PAGE ************************-->
<div>
	
	<div class="page">
		<div class="page-content">
			<div class="row">
				<div class="col-15"></div>

				<div class="col-70">
					<p>Filter by Category :
						<select name="categoryFilter" ng-model="modelCategory" >
							<option value="all"></option>
							<option ng-repeat="categorie in categories" value="{{categorie}}" >{{categorie}}</option>
						</select>
					</p>
				</div>
				<div class="col-15"></div>
			</div>

			<div class="data-table data-table-init card">
				<div class="data-table-title">Expenses List</div>
				<div class="data-table">
					<table>
						<thead>
							<tr>
								<th 
		                           ng-repeat="(i,th) in home.head "
		                           ng-class="classHeader(th)"
		                           ng-click="changeOrder(th)" >
									{{th}}
								</th>
							</tr>
						</thead>
						<tbody>
						<!-- row in filtreCategorie = (home.body | filter:customFilter) -->
							<tr ng-repeat="row in home.body | orderBy : selectedProp : isReversed | filter:customFilter">
								<td>{{row.date | date:'dd/MM/yy'}}</td>
								<td ng-click="home.showModal($event,row.id)" class="modalLink">
									<i class="fa {{catIcons[row.category]}}" aria-hidden="true"></i> {{row.name}}
								</td>
								<td>{{row.cost}} €</td>
								<td ng-hide="true">{{row.category}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>